@page
@model TruckLoadingApp.Pages.Trucks.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Truck</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Truck.Brand" class="control-label"></label>
                <input asp-for="Truck.Brand" class="form-control" />
                <span asp-validation-for="Truck.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Truck.Model" class="control-label"></label>
                <input asp-for="Truck.Model" class="form-control" />
                <span asp-validation-for="Truck.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Truck.Capacity" class="control-label"></label>
                <input asp-for="Truck.Capacity" class="form-control" />
                <span asp-validation-for="Truck.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Truck.RegistrationNumber" class="control-label"></label>
                <input asp-for="Truck.RegistrationNumber" class="form-control" />
                <span asp-validation-for="Truck.RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Truck.Description" class="control-label"></label>
                <input asp-for="Truck.Description" class="form-control" />
                <span asp-validation-for="Truck.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Truck.DriverId" class="control-label"></label>
                <select asp-for="Truck.DriverId" class ="form-control" asp-items="ViewBag.DriverId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Truck.CurrentLoadWeight" class="control-label"></label>
                <input asp-for="Truck.CurrentLoadWeight" class="form-control" />
                <span asp-validation-for="Truck.CurrentLoadWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Truck.MaintenanceDueDate" class="control-label"></label>
                <input asp-for="Truck.MaintenanceDueDate" class="form-control" />
                <span asp-validation-for="Truck.MaintenanceDueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
