@page
@model TruckLoadingApp.Pages.Shipments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Shipment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Shipment.ClientId" class="control-label"></label>
                <select asp-for="Shipment.ClientId" class ="form-control" asp-items="ViewBag.ClientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Shipment.OrderDate" class="control-label"></label>
                <input asp-for="Shipment.OrderDate" class="form-control" />
                <span asp-validation-for="Shipment.OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipment.ExpectedDeliveryDate" class="control-label"></label>
                <input asp-for="Shipment.ExpectedDeliveryDate" class="form-control" />
                <span asp-validation-for="Shipment.ExpectedDeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipment.Status" class="control-label"></label>
                <input asp-for="Shipment.Status" class="form-control" />
                <span asp-validation-for="Shipment.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipment.SpecialInstructions" class="control-label"></label>
                <input asp-for="Shipment.SpecialInstructions" class="form-control" />
                <span asp-validation-for="Shipment.SpecialInstructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipment.TotalCost" class="control-label"></label>
                <input asp-for="Shipment.TotalCost" class="form-control" />
                <span asp-validation-for="Shipment.TotalCost" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Shipment.IsUrgent" /> @Html.DisplayNameFor(model => model.Shipment.IsUrgent)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
